header {
    .banner-title {
        color: #d04f4f;
        font-size: 1.5em;
    }

    .logo {
        height: 3em;
        width: 3em;
    }
}

main {
    min-width: 100vw;
    #recipe-area {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }
    .recipe_card {
       background-color: #e6e6e6;
        width: 25em;
        border-radius: 10px;
        margin: 1em 0 1em 0;
        .recipe_image {
            border-radius: 10px 10px 0 0;
            width: 100%;
            background-color: grey;
            height: 10em;
            
        }
        .recipe-intro {
            display: flex;
            margin-left: 1em;
            margin-right: 1em;
            .recipe-name {
                width: 75%;
                font-weight: 600;
            }
        }
        .all-ingredients {
            border: 3px solid red;
            /* width: 50%; */
            
        }
        .ingredients {
            max-width: 70%;
            display: flex;
            font-weight: 600;
            font-size: 0.7em;
            text-align: center;
        }
        .quantity {
            margin-left: 0.5em;
            text-align: center;
        }
        .unit {
            text-align: center;
            
        }
        .recipe_instructions {
            border: 3px solid blue;
            /* width: 50%; */
        }

    }
}
    