header {
    .banner-title {
        color: #d04f4f;
        font-size: 1.5em;
    }

    .logo {
        height: 3em;
        width: 3em;
    }
}

main {
    min-width: 100vw;
    #input-container {
        display: flex;
        align-items: center;
        
    }
    
    .fa-search {
        position: absolute;
        right: 2em;
        
    }
    #recipe-area {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5%;
        align-content: space-between;
    }
    .recipe_card {
        background-color: #e6e6e6;
        width: 30%;
        border-radius: 10px;
        margin: 1em 0 1em 0;
        .recipe_image {
            border-radius: 10px 10px 0 0;
            width: 100%;
            background-color: grey;
            height: 10em;
        }
        .recipe-intro {
            display: flex;
            margin-left: 0.7em;
            margin-right: 1em;
            margin-bottom: 0.7em;
            align-items: center;
            .recipe-name {
                width: 75%;
                font-weight: 600;
            }
        }
        .all-ingredients {
            
            width: 50%;

        }
        .ingredients {
            max-width: 70%;
            display: flex;
            flex-wrap: wrap;
            
            font-size: 0.7em;
            text-align: center;
        }
        .quantity {
            margin-left: 0.5em;
            text-align: center;
        }
        .unit {
            text-align: center;
        }
        .recipe_instructions {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 50%;
            font-size: smaller;
            margin-right: 0.8em;
            text-align: justify;
        }
    }
}

.recipe-details {
    display: flex;

}

.ingredients .name {
    font-weight: bold;
}

#combos {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: start;
}

.combobox {
    
    border-radius: 10px;
    color: white;
    padding: 1em;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    /* flex-wrap: wrap; */
    /* height: 3.5em; */
}

.combo {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    
}

.combobox[data-text="ingrédients"] {
    background-color: #0081FF;
}

.combobox[data-text="appareils"] {
    background-color: #20DDA0;
}

.combobox[data-text="ustensiles"] {
    background-color: #FF584B;
}

.comboList {
    display: flex;
    gap: 0px 10px;
    flex-wrap: wrap;
    flex-direction: row;
     & .option {
         width: 30%;
     }
}

.searchbox {
    display: flex;
    align-items: center;
}

.searchbox .fas.rotate {
    transform: rotate(180deg);

}


.searchbox .fas{
    transition: transform 0.8s;
}

#tags-area {
    display: flex;
    margin-bottom: 0.8em;
    gap: 1em;
    .activated-tag {
        border-radius: 10px;
        color: white;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0.8em;
        &.ingredient {
            background-color: #0081FF;
        }
        
       &.appliance {
            background-color: #20DDA0;
        }
        
        &.ustensils {
            background-color: #FF584B;
        }
        
        .fa-times {
            color: white;
            display: flex;
            align-items: center;
            border: 2px solid white;
            border-radius: 50%;
            padding: 2px;
            width: 24px;
            justify-content: center;
            cursor: pointer; 

    }
}

}